*{
    margin: 0px; 
    padding: 0px;
}
.content{
    margin-top: 10px !important;
    width: 300px;
    height: 200px;
    border:1px solid #ddd;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
 
}
.content-item{
    border: 1px solid #000;
    color:#000;
    background:#ff0000;
  
 
}
.content-two{
    margin-top:20px !important;
    margin: auto;
    width: 600px;
    height: 100px;
    border:1px solid #00ffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.content-item-two{
    border: 1px solid #000;
    color:#000;
    background:#ff0000;
}

.content-three{
    margin-top: 30px !important;
    margin: auto;
    width: 300px;
    height: 100px;
    border:1px solid #00ffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    align-content:flex-start;
   
}
.content-item-three{
    border: 1px solid #000;
    color:#000;
    background:#ff0000;
}
.content-four{
    margin-top: 30px !important;
    margin: auto;
    width: 300px;
    height: 100px;
    border:1px solid #00ffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
   
   
}
.content-item-four{
    border: 1px solid #000;
    color:#000;
    background:#ff0000;
    flex-grow: 2;
}

/* Five */
.content-five{
    margin-top: 30px !important;
    margin: auto;
    width: 350px;
    height: 200px;
    border:1px solid #0ff;
    display: flex;
    justify-content: start;
    align-items: start;


}

.content-item-five{
    border: 1px solid #000;
    color:#000;
    background:#f00;
    flex-grow: 1;
  
}
.content-item-five:nth-child(3){
    align-self: flex-end;
    
    
}
.content-item-five:nth-child(4){
    align-self: center;
}

/* Six */
.content-six{
    margin-top: 30px !important;
    margin: auto;
    width: 350px;
    height: 250px;
    border:1px solid #0ff;
    display: flex;
    justify-content: flex-end;

}
.content-item-six{
    border: 1px solid #000;
    color:#000;
    background:#f00;
   
  
}